@charset "UTF-8";

:root {
	--background: rgb(255, 255, 255);
	--box: rgb(192, 192, 192);
	--text: rgb(70, 70, 70);
	--text-light: rgb(179, 179, 179);
	--accent: rgb(27, 90, 161);
	--input: rgb(224, 224, 224);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
	color: var(--text);
	text-align: center;
}

body {
	min-height: 100vp;
	background-image: url(../assets/login_page_image.jpg);
	background-size: cover;
	background-position: right;
	overflow: hidden;
}

.wrapper {
/* 	box-sizing: border-box; */
	background-color: var(--background);
	height: 100vh;
	width: max(40%, 600px);
	align-items: center; /* aligns items inside the input field to be centered */
	border-radius: 0 20px 20px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
h1 {
	font-size: 2rem;
	font-weight: 900;
	text-transform: uppercase;
}

form {
	width: min(400px, 100%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
	margin-top: 10px;
}

form > div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

form label {
	font-size: 1rem;
	font-weight: 600;
	color: var(--text);
	text-align: left;
}

form input {
	box-sizing: border-box;
	flex-grow: 1;
	min-width: 0;
	height: 40px;
	padding: 1em;
	font: inherit;
	border-radius: 10px;
	border: 2px solid var(--text-light);
	background-color: var(--input);
	transition: 150ms ease;
}
form input:hover {
	border-color: var(--text);
}
form input:focus {
	outline:none;
	border-color: var(--accent);
}

button {
	width: 100%;
	padding: 0.85em 4em;
	background-color: var(--accent);
	color: white;
	border: none;
	border-radius: 10px;
	font-weight: 600;
	cursor: pointer;
	transition: background-color 150ms ease; /* Smooth transition for hover effect */
	margin-top: 10px;
	margin-bottom: 10px;
}

button:hover {
	background-color: var(--text);
}

.adjacent-fields {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 100%;
	box-sizing: border-box;
}

.adjacent-fields > div {
	width: 50%;
	min-width: 0;     /* Prevents overflow in flex containers */
	display: flex;
	flex-direction: column;
}
