@charset "UTF-8";

:root {
	--background: rgb(255, 255, 255);
	--box: rgb(192, 192, 192);
	--text: rgb(70, 70, 70);
	--text-light: rgb(179, 179, 179);
	--accent: rgb(27, 90, 161);
	--input: rgb(224, 224, 224);
}

* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 12pt;
	font-family: 'Raleway', sans-serif;
	color: var(--text);
	text-align: center;
}

body {
	min-height: 100vp;
	background-image: url(../assets/login_page_image.jpg);
	background-size: cover;
	background-position: right;
	overflow: hidden;
}

.wrapper {
/* 	box-sizing: border-box; */
	background-color: var(--background);
	height: 100vh;
	width: max(40%, 600px);
	align-items: center; /* aligns items inside the input field to be centered */
	border-radius: 0 20px 20px 0;
}
h1 {
	font-size: 3rem;
	font-weight: 900;
	text-transform: uppercase;
}

form {
	width: min(400px, 100%);
	margin-top: 20px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: column; /* makes main axis for item alignment vertical */
	align-items: center;
	gap: 10px;
}

form > div {
	width: 100%;
	display: flex;
	flex-direction: column;
}

form label {
	font-size: 0.75rem;
	font-weight: 600;
	
	color: var(--text-light);
	text-align: left;     /* 👈 Add this line */
	
}

form input {
	box-sizing: border-box;
	flex-grow: 1;
	min-width: 0;
	height: 40px;
	padding: 1em;
	font: inherit;
	border-radius: 10px;
	border: 2px solid var(--text-light);
	background-color: var(--input);
	transition: 150ms ease;
}

.adjacent-fields {
  display: flex;
  flex-direction: row;
  gap: 10px;
  box-sizing: border-box;
}

/* form direct children */

